<LDAPAccounts>
   <Config>
      <DontCheckProto>false</DontCheckProto>
      <MwLTWidth>257</MwLTWidth>
      <MwShowEntries>0</MwShowEntries>
      <MwShowValues>1</MwShowValues>
      <MwVSplit>182</MwVSplit>
      <EvViewStyle>2</EvViewStyle>
      <ConfigFiles/>
   </Config>
</LDAPAccounts>